<div class="breadcrumb-area">
  <div class="container-fluid text-center">
    <div class="breadcrumb-style gray-bg ptb-100">
      <h2 class="page-title">{{ label }}</h2>
    </div>
  </div>
</div>
<div class="blog-details-area ptb-100">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-offset-2 col-lg-8 col-md-12">
        <div class="blog-details">
          {{ content.field_image }}
          <div class="blog-details-text">
            {{ content.body }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
