<div class="footer-bottom text-center ptb-20">
    <p>
        © 2017
        <a href="https://www.perlita-nakit.si/" target="_blank">Perlita-nakit</a>
        . Vse pravice pridržane.
    </p>
</div>
